<div class="row">
  <div class="col-md-12 mx-auto">
    <div class="card">
      <div class="card-body">
        <nav class="page-breadcrumb">
          <h2 class="breadcrumb-item active">Gastos</h2>
        </nav>

        <div class="container">
          <h2 class="mb-4">Gastos Fijos</h2>
          <form [formGroup]="notaDebitoForm" (ngSubmit)="notaDebito()">
            <div class="mb-3">
              <label class="form-label">Selecciona un tipo de gasto</label>
              <select
                class="form-select"
                id="descripcion"
                name="descripcion"
                formControlName="descripcion"
                required
              >
                <option value="Renta">Renta</option>
                <option value="Planilla Electrica">Planilla Electrica</option>
                <option value="Agua">Agua</option>
              </select>
            </div>
            <div class="mb-3">
              <label class="form-label">Cantidad ($)</label>
              <input
                type="number"
                class="form-control"
                id="amount"
                name="amount"
                formControlName="amount"
                required
              />
            </div>
            <div class="mb-3">
              <label for="to_bank_id" class="form-label"
                >Banco Transacción</label
              >

              <select
                class="form-select"
                id="to_bank_id"
                formControlName="to_bank_id"
                required
              >
                <option value="">Seleccione el banco</option>
                <ng-container *ngFor="let banco of bancos">
                  <option
                    value="{{ banco.id }}"
                    *ngIf="selectedBankId != banco.id"
                  >
                    {{ banco.nombre }}
                  </option>
                </ng-container>
              </select>
            </div>
            <div class="mb-3">
              <label for="transaction_date" class="form-label"
                >Fecha de Transacción</label
              >
              <input
                type="date"
                class="form-control"
                id="transaction_date"
                name="transaction_date"
                formControlName="transaction_date"
                required
              />
            </div>
            <button type="submit" class="btn btn-primary">
              <i data-feather="check-circle" class="icon"></i> Agregar
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
