<div class="row">
  <div class="col-md-12 mx-auto">
    <div class="card">
      <div class="card-body">
        <nav class="page-breadcrumb">
          <h2 class="breadcrumb-item active">Gastos</h2>
        </nav>

        <div class="container">
          <h2 class="mb-4">Gastos Fijos</h2>
          <form>
            <div class="mb-3">
              <label class="form-label">Selecciona un tipo de gasto</label>
              <select class="form-select">
                <option>Renta</option>
                <option>Planilla Electrica</option>
                <option>Agua</option>
              </select>
            </div>
            <div class="mb-3">
              <label class="form-label">Cantidad ($)</label>
              <input
                type="number"
                class="form-control"
                placeholder="Enter Amount"
              />
            </div>
            <button type="submit" class="btn btn-primary">
              <i data-feather="check-circle" class="icon"></i> Agregar
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
