<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <nav class="page-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item active">Clientes</li>
          </ol>
        </nav>
        <div style="display: flex; justify-content: flex-end">
          <button
            style="margin-right: 2rem"
            type="button"
            class="btn btn-success"
            routerLink="/cliente/create"
          >
            Añadir Cliente
          </button>
        </div>

        <div class="table-responsive pt-3">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Cedula</th>
                <th>Nombre</th>
                <th>Cantidad Prestada</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cliente of clientes">
                <td>{{ cliente.cedula }}</td>
                <td>
                  {{ cliente.primer_nombre }}
                  {{ cliente.primer_apellido }}
                </td>
                <td></td>
                <td style="text-align: center">
                  <a
                    type="button"
                    class="btn btn-primary"
                    href="/cliente/{{ cliente.id }}"
                  >
                    Ver Perfil
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
