.card {
  border-radius: 15px;
}

.income i {
  color: #28a745;
}

.expense i {
  color: #dc3545;
}

.table-hover tbody tr:hover {
  background-color: #f8f9fa;
}

.thead-dark th {
  border-bottom-width: 1px;
}