<div class="row">
  <div class="col-md-12 mx-auto">
    <div class="card shadow">
      <div class="card-body">
        <h2 class="mb-4">Movimientos</h2>
        <div class="table-responsive">
          <table class="table table-hover">
            <thead class="thead-dark">
              <tr>
                <th>Banco</th>
                <!-- <th>Tipo Transaccion</th> -->
                <th>Cantidad</th>
                <th>Description</th>
                <th>Fecha</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let transaccion of transacciones"
                [class.income]="
                  transaccion.transaction_type === 'Nota de Crédito'
                "
                [class.expense]="
                  transaccion.transaction_type === 'Nota de Débito'
                "
              >
                <td>{{ transaccion.bank }}</td>
                <!-- <td>
                  {{ transaccion.transaction_type }}
                </td> -->
                <td
                  *ngIf="transaccion.transaction_type === 'Nota de Débito'"
                  class="text-danger"
                >
                  <i data-feather="arrow-up-circle" appFeatherIcon></i>
                  {{ transaccion.amount }}
                </td>
                <td
                  *ngIf="transaccion.transaction_type === 'Nota de Crédito'"
                  class="text-success"
                >
                  <i data-feather="arrow-down-circle" appFeatherIcon></i>
                  {{ transaccion.amount }}
                </td>
                <td>{{ transaccion.description }}</td>
                <td>
                  {{ transaccion.transaction_date | date : "dd/MM/yyyy" }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
