<footer
  class="footer d-flex flex-column flex-md-row align-items-center justify-content-between px-4 py-3 border-top small"
>
  <p class="text-muted mb-1 mb-md-0">
    Desarrollado por
    <a
      href="https://www.linkedin.com/in/joaqu%C3%ADn-rivadeneira-campod%C3%B3nico-875a5b1ab/"
      target="_blank"
      >Joaquín Rivadeneira C.</a
    >
  </p>
  <!-- <p class="text-muted">
    Hecho por tu cuñado
    <i class="feather icon-heart mb-1 text-primary ms-1 icon-sm"></i>
  </p> -->
</footer>
